{% extends 'base_top_menu.html.twig' %}

{% block title %}Tablero PMG{% endblock %}


{% block body %}
<!-- scroll -->
<div style="height:1000px;overflow:auto">
<link rel="stylesheet" href="amcharts4/index.css" />
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="row">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <h4 class="page-title">Tablero </h4>
                            <ol class="breadcrumb p-0 m-0">
                                <li class="breadcrumb-item">
                                    <a href="#">PMG</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#">Tablero </a>
                                </li>
                            </ol>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <!-- end row -->
                {% set metaRipley = 0 %} 
                {% set ventaRipley = 0 %} 
                {% set metaParis = 0 %}
                {% set ventaParis = 0 %}
                {% set metaJohnson = 0 %}
                {% set ventaJohnson = 0 %}
                {% set TotalRipley = 0 %}
                {% set TotalParis = 0 %}
                {% set TotalJohnson = 0 %}
                {% set AnoMes = "now"|date("Y-m") %}
                {% set AnoMesDiaUno = "now"|date("Y-m-01") %}
                {% set AnoMesDia = "now"|date("Y-m-d") %}
                {% set MesAno = "now"|date("m-Y") %}
                {% set DataArray = [] %}
                
                {% for cargaMeta in cargaMetas %}
                   {% if cargaMeta.cadena == 'Ripley' and cargaMeta.fecha|date("Y-m-d") >= AnoMesDiaUno and cargaMeta.fecha|date("Y-m-d") <= AnoMesDia %} 
                        {% set metaRipley = metaRipley + cargaMeta.meta %}
                        {% set ventaRipley = ventaRipley + cargaMeta.venta %} 
                        
                        {# array para JS #}
                        {#{% set DataArray = DataArray|merge([{ cadena: cargaMeta.cadena.name, tienda: cargaMeta.tienda.nombre, venta: cargaMeta.meta|join }]) %}#}

                    {% elseif cargaMeta.cadena == 'Paris' and cargaMeta.fecha|date("Y-m-d") >= AnoMesDiaUno and cargaMeta.fecha|date("Y-m-d") <= AnoMesDia %} 
                        {% set metaParis = metaParis + cargaMeta.meta %}
                        {% set ventaParis = ventaParis + cargaMeta.venta %}
                    {% elseif cargaMeta.cadena == 'Johnson' and cargaMeta.fecha|date("Y-m-d") >= AnoMesDiaUno and cargaMeta.fecha|date("Y-m-d") <= AnoMesDia %} 
                        {% set metaJohnson = metaJohnson + cargaMeta.meta %}
                        {% set ventaJohnson = ventaJohnson + cargaMeta.venta %}
                    {% endif %}
                {% endfor %}

                {% if ventaRipley != 0 and metaRipley != 0 %}
                    {% set TotalRipley = ventaRipley / metaRipley * 100 %}
                {% endif %}
                {% if ventaParis != 0 and metaParis != 0 %}
                    {% set TotalParis = ventaParis / metaParis * 100 %}
                {% endif %}
                {% if ventaJohnson != 0 and metaJohnson != 0 %}
                    {% set TotalJohnson = ventaJohnson / metaJohnson * 100 %}
                {% endif %}

                {% if TotalRipley >= 100 %} 
                    {% set IconoColorRipley = '<img class="widget-two-icon icon-colored" src="assets/images/icons/bullish.svg" title="bullish.svg" alt="colored-icons">' %}
                    {% set BoxColorRipley = 'success' %}
                {% elseif TotalRipley >= 80 and TotalRipley <= 99 %}
                    {% set IconoColorRipley = '<img class="widget-two-icon icon-colored" src="assets/images/icons/neutral_trading.svg" title="neutral_trading.svg" alt="colored-icons">' %}
                    {% set BoxColorRipley = 'warning' %}
                {% elseif TotalRipley >= 0 and TotalRipley <= 79 %}  
                    {% set IconoColorRipley = '<img class="widget-two-icon icon-colored" src="assets/images/icons/bearish.svg" title="bearish.svg" alt="colored-icons">' %}
                    {% set BoxColorRipley = 'danger' %}
                {% endif %}
                {% if TotalParis >= 100 %} 
                    {% set IconoColorParis = '<img class="widget-two-icon icon-colored" src="assets/images/icons/bullish.svg" title="bullish.svg" alt="colored-icons">' %}
                    {% set BoxColorParis = 'success' %}
                {% elseif TotalParis >= 80 and TotalParis <= 99 %}
                    {% set IconoColorParis = '<img class="widget-two-icon icon-colored" src="assets/images/icons/neutral_trading.svg" title="neutral_trading.svg" alt="colored-icons">' %}
                    {% set BoxColorParis = 'warning' %}
                {% elseif TotalParis >= 0 and TotalParis <= 79 %}  
                    {% set IconoColorParis = '<img class="widget-two-icon icon-colored" src="assets/images/icons/bearish.svg" title="bearish.svg" alt="colored-icons">' %}
                    {% set BoxColorParis  = 'danger' %}
                {% endif %}
                {% if TotalJohnson >= 100 %} 
                    {% set IconoColorJohnson = '<img class="widget-two-icon icon-colored" src="assets/images/icons/bullish.svg" title="bullish.svg" alt="colored-icons">' %}
                    {% set BoxColorJohnson = 'success' %}
                {% elseif TotalJohnson >= 80 and TotalJohnson <= 99 %}
                    {% set IconoColorJohnson = '<img class="widget-two-icon icon-colored" src="assets/images/icons/neutral_trading.svg" title="neutral_trading.svg" alt="colored-icons">' %}
                    {% set BoxColorJohnson = 'warning' %}
                {% elseif TotalJohnson >= 0 and TotalJohnson <= 79 %}  
                    {% set IconoColorJohnson = '<img class="widget-two-icon icon-colored" src="assets/images/icons/bearish.svg" title="bearish.svg" alt="colored-icons">' %}
                    {% set BoxColorJohnson = 'danger' %}
                {% endif %}
                <div class="row">
                    <div class="col-xl-4 col-md-6">
                        <div class="card-box widget-box-two widget-two-{{BoxColorRipley}}">
                                {{ IconoColorRipley|raw }}
                            <div class="wigdet-two-content">
                                <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="Statistics">Ripley {{MesAno}}</p>
                                <b>Venta:</b> 
                                <h2><span data-plugin="">{{ ventaRipley|number_format(0, ',', '.') }}</span> <small> </small></h2>
                                <p class="text-muted m-0"><b>Meta:</b> {{ metaRipley|number_format(2, ',', '.') }} <br> del {{AnoMesDiaUno}} al {{AnoMesDia}}</p>
                                <p class="text-muted m-0"><b>Cumplimiento:</b> {{TotalRipley|number_format(0, ',', '.')}}%</p>
                            </div>
                        </div>
                    </div><!-- end col -->
                    <div class="col-xl-4 col-md-6">
                        <div class="card-box widget-box-two widget-two-{{BoxColorParis}}">
                                {{ IconoColorParis|raw }}
                            <div class="wigdet-two-content">
                                <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="User This Month">Paris {{MesAno}}</p>
                                <b>Venta:</b>
                                <h2><span data-plugin="">{{ ventaParis|number_format(0, ',', '.') }} </span> <small>  </small></h2>
                                <p class="text-muted m-0"><b>Meta:</b> {{ metaParis|number_format(2, ',', '.') }} <br> del {{AnoMesDiaUno}} al {{AnoMesDia}}</p>
                                <p class="text-muted m-0"><b>Cumplimiento:</b> {{TotalParis|number_format(0, ',', '.')}}%</p>
                            </div>
                        </div>
                    </div><!-- end col -->
                    <div class="col-xl-4 col-md-6">
                        <div class="card-box widget-box-two widget-two-{{BoxColorJohnson}}">
                                {{ IconoColorJohnson|raw }}
                            <div class="wigdet-two-content">
                                <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="Statistics">Johnson {{MesAno}}</p>
                                <b>Venta:</b>
                                <h2><span data-plugin="">{{ ventaJohnson|number_format(0, ',', '.') }}</span> <small>  </small></h2>
                                <p class="text-muted m-0"><b>Meta:</b> {{ metaJohnson|number_format(2, ',', '.') }} <br> del {{AnoMesDiaUno}} al {{AnoMesDia}}</p>
                                <p class="text-muted m-0"><b>Cumplimiento:</b> {{TotalJohnson|number_format(0, ',', '.')}}%</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->
                    
<!-- amCharts  V4-->
<script src="amcharts4/core.js"></script>
<script src="amcharts4/charts.js"></script>
<script src="amcharts4/themes/animated.js"></script>
<!-- Chart code -->
{#{ dump(DataArray|json_encode|raw ) }#}
<script>
        var dataRipley = [];
        var dataParis = [];
        var dataJohnson = [];
        var ventaRipley = 0;
        var ventaParis = 0;
        var ventaJohnson = 0;
        var data0 ="{% for tienda in tiendas %}";
        var data0 ="{% set sumaRipley = 0 %}";
        var data0 ="{% set sumaParis = 0 %}";
        var data0 ="{% set sumaJohnson = 0 %}";
        var cadena = "{{tienda.empresa.name}}"; 
        var tienda = "{{tienda.nombre}}";
            var data1 = "{% for cargaMeta in cargaMetas %}";
                var data11 = "{% if tienda.empresa.name == 'Ripley' and tienda.nombre == cargaMeta.tienda.nombre and cargaMeta.fecha|date('Y-m-d') >= AnoMesDiaUno and cargaMeta.fecha|date('Y-m-d') <= AnoMesDia %} {% set sumaRipley = sumaRipley + cargaMeta.meta %} {% endif %}";
                var data11 = "{% if tienda.empresa.name == 'Paris' and tienda.nombre == cargaMeta.tienda.nombre and cargaMeta.fecha|date('Y-m-d') >= AnoMesDiaUno and cargaMeta.fecha|date('Y-m-d') <= AnoMesDia %} {% set sumaParis = sumaParis + cargaMeta.meta %} {% endif %}";
                var data11 = "{% if tienda.empresa.name == 'Johnson' and tienda.nombre == cargaMeta.tienda.nombre and cargaMeta.fecha|date('Y-m-d') >= AnoMesDiaUno and cargaMeta.fecha|date('Y-m-d') <= AnoMesDia %} {% set sumaJohnson = sumaJohnson + cargaMeta.meta %} {% endif %}";
            var data1 = "{% endfor %}";
            ventaRipley = "{{ sumaRipley }}";
            ventaParis = "{{ sumaParis }}";
            ventaJohnson = "{{ sumaJohnson }}";
            var data1 = "{% if tienda.empresa.name == 'Ripley' %}";
                        dataRipley.push({ 
                            cadena: cadena,
                            tienda: tienda,
                            venta: ventaRipley
                        });
                ventaRipley = 0;
            var data1 = "{% endif %}";
            var data1 = "{% if tienda.empresa.name == 'Paris' %}";
                        dataParis.push({ 
                            cadena: cadena,
                            tienda: tienda,
                            venta: ventaParis
                        });
                ventaParis = 0;
            var data1 = "{% endif %}";
            var data1 = "{% if tienda.empresa.name == 'Johnson' %}";
                        dataJohnson.push({ 
                            cadena: cadena,
                            tienda: tienda,
                            venta: ventaJohnson
                        });
                ventaJohnson = 0;
            var data1 = "{% endif %}";        
        var data0 ="{% endfor %}";

//#################################################Ripley################################################################
        //var DataArray = '{{DataArray|json_encode|raw}}';
        am4core.ready(function() {
        // Themes begin
        am4core.useTheme(am4themes_animated);
        // Themes end
        // Create chart instance
        var chart = am4core.create("chartdivRipley", am4charts.XYChart);
                
        chart.data = dataRipley;

        // Create axes
        var yAxis = chart.yAxes.push(new am4charts.CategoryAxis());
        yAxis.dataFields.category = "tienda";
        yAxis.renderer.grid.template.location = 0;
        yAxis.renderer.labels.template.fontSize = 10;
        yAxis.renderer.minGridDistance = 10;
        
        var xAxis = chart.xAxes.push(new am4charts.ValueAxis());
        
        // Create series
        var series = chart.series.push(new am4charts.ColumnSeries());
        series.dataFields.valueX = "venta";
        series.dataFields.categoryY = "tienda";
        series.dataFields.X = "cadena";
        series.dataFields.Y = "CAMBIARPORDATOS"; /// <<<<<------ CAMBIARPORDATOS
        series.numberFormatter.numberFormat = "#.###,00";
        // \n <<<--- es el <br> del tooltipText
        //series.columns.template.tooltipText = "{cadena} {CAMBIARPORDATOS}\n{categoryY}: [bold]{valueX}[/]";
        series.columns.template.tooltipHTML = `<center><strong>Cadena: {cadena}</strong></center>
                                                    <hr />
                                                    <table>
                                                    <tr>
                                                        <th align="left">Tienda: </th>
                                                        <td>{categoryY}</td>
                                                    </tr>
                                                    <tr>
                                                        <th align="left">Venta: </th>
                                                        <td>{valueX}</td>
                                                    </tr>
                                                    <tr>
                                                        <th align="left">Meta: </th>
                                                        <td>{CAMBIARPORDATOS}</td>
                                                    </tr>
                                                    </table>
                                                    <hr />`;
                                                    //// si le das click a la barra ejecuta los datos en el alert
                                                    series.columns.template.events.on("hit",
                                                        ev => {
                                                          let a = ev.target;
                                                          ///// dato 1
                                                          var cadena = ev.target._dataItem.dataContext["cadena"];
                                                          ///// dato 2
                                                          var tienda = ev.target._dataItem.dataContext["tienda"];
                                                           ///// dato 2
                                                           var venta = ev.target._dataItem.dataContext["venta"];
                                                          ///// mostrando datos
                                                          ///alert(item + "" + item1 );
                                                          /// llamar la funcion 
                                                          datosBar(cadena, tienda, venta);
                                                         
                                                          console.log("clicked on");
                                                        },
                                                        this
                                                      );                               
        series.columns.template.alwaysShowTooltip = false;
        series.columns.template.propertyFields.alwaysShowTooltip = "tooltip";
        series.columns.template.strokeWidth = 1;
        series.columns.template.togglable = true;
        series.columns.template.adapter.add("fill", function(fill, target) {
          if (target.dataItem) {
            switch(target.dataItem.dataContext.cadena) {
              case "Ripley":
                return chart.colors.getIndex(1);
                break;
            }
          }
          return fill;
        });
        
        // Add ranges
        function addRange(label, start, end, color) {
          var range = yAxis.axisRanges.create();
          range.category = start;
          range.endCategory = end;
          range.label.text = label;
          range.label.disabled = false;
          range.label.fill = color;
          range.label.location = 0;
          range.label.dx = -130;
          range.label.dy = 6;
          range.label.fontWeight = "bold";
          range.label.fontSize = 12;
          range.label.horizontalCenter = "left"
          range.label.inside = true;
          
          range.grid.stroke = am4core.color("#396478");
          range.grid.strokeOpacity = 1;
          range.tick.length = 200;
          range.tick.disabled = false;
          range.tick.strokeOpacity = 0.6;
          range.tick.stroke = am4core.color("#396478");
          range.tick.location = 0;
          
          range.locations.category = 1;
        }
        
        //addRange("Global", "Texas", "North Dakota", chart.colors.getIndex(0));
        addRange("Ripley", "Quilpue", "West Virginia", chart.colors.getIndex(1));
        //addRange("Paris", "Paris Lyon", "South Carolina", chart.colors.getIndex(2));
        //addRange("Johnson", "Johnson Linares", "Wyoming", chart.colors.getIndex(3));
                
        chart.cursor = new am4charts.XYCursor();
        
        }); // end am4core.ready()
//#################################################Ripley################################################################

//#################################################Paris################################################################
                //var DataArray = '{{DataArray|json_encode|raw}}';
                am4core.ready(function() {
                // Themes begin
                am4core.useTheme(am4themes_animated);
                // Themes end
                // Create chart instance
                var chart = am4core.create("chartdivParis", am4charts.XYChart);
                        
                chart.data = dataParis;
        
                // Create axes
                var yAxis = chart.yAxes.push(new am4charts.CategoryAxis());
                yAxis.dataFields.category = "tienda";
                yAxis.renderer.grid.template.location = 0;
                yAxis.renderer.labels.template.fontSize = 10;
                yAxis.renderer.minGridDistance = 10;
                var xAxis = chart.xAxes.push(new am4charts.ValueAxis());
                // Create series
                var series = chart.series.push(new am4charts.ColumnSeries());
                series.dataFields.valueX = "venta";
                series.dataFields.categoryY = "tienda";
                series.dataFields.X = "cadena";
                series.dataFields.Y = "CAMBIARPORDATOS"; /// <<<<<------ CAMBIARPORDATOS
                // \n <<<--- es el <br> del tooltipText
                //series.columns.template.tooltipText = "{cadena} {CAMBIARPORDATOS}\n{categoryY}: [bold]{valueX}[/]";
                series.columns.template.tooltipHTML = `<center><strong>Cadena: {cadena}</strong></center>
                                                    <hr />
                                                    <table>
                                                    <tr>
                                                        <th align="left">Tienda: </th>
                                                        <td>{categoryY}</td>
                                                    </tr>
                                                    <tr>
                                                        <th align="left">Venta: </th>
                                                        <td>{valueX}</td>
                                                    </tr>
                                                    <tr>
                                                        <th align="left">Meta: </th>
                                                        <td>{CAMBIARPORDATOS}</td>
                                                    </tr>
                                                    </table>
                                                    <hr />`;
                                                    //// si le das click a la barra ejecuta los datos en el alert
                                                    series.columns.template.events.on("hit",
                                                        ev => {
                                                          let a = ev.target;
                                                          ///// dato 1
                                                          var cadena = ev.target._dataItem.dataContext["cadena"];
                                                          ///// dato 2
                                                          var tienda = ev.target._dataItem.dataContext["tienda"];
                                                           ///// dato 2
                                                           var venta = ev.target._dataItem.dataContext["venta"];
                                                          ///// mostrando datos
                                                          ///alert(item + "" + item1 );
                                                          /// llamar la funcion 
                                                          datosBar(cadena, tienda, venta);
                                                         
                                                          console.log("clicked on");
                                                        },
                                                        this
                                                      );                      
                series.columns.template.strokeWidth = 1;
                series.columns.template.adapter.add("fill", function(fill, target) {
                  if (target.dataItem) {
                    switch(target.dataItem.dataContext.cadena) {
                      case "Paris":
                        return chart.colors.getIndex(2);
                        break;
                    }
                  }
                  return fill;
                });
                
                // Add ranges
                function addRange(label, start, end, color) {
                  var range = yAxis.axisRanges.create();
                  range.category = start;
                  range.endCategory = end;
                  range.label.text = label;
                  range.label.disabled = false;
                  range.label.fill = color;
                  range.label.location = 0;
                  range.label.dx = -150;
                  range.label.dy = 6;
                  range.label.fontWeight = "bold";
                  range.label.fontSize = 12;
                  range.label.horizontalCenter = "left"
                  range.label.inside = true;
                  
                  range.grid.stroke = am4core.color("#396478");
                  range.grid.strokeOpacity = 1;
                  range.tick.length = 200;
                  range.tick.disabled = false;
                  range.tick.strokeOpacity = 0.6;
                  range.tick.stroke = am4core.color("#396478");
                  range.tick.location = 0;
                  
                  range.locations.category = 1;
                }
                //addRange("Global", "Texas", "North Dakota", chart.colors.getIndex(0));
                //addRange("Ripley", "Quilpue", "West Virginia", chart.colors.getIndex(1));
                addRange("Paris", "Paris Lyon", "South Carolina", chart.colors.getIndex(2));
                //addRange("Johnson", "Johnson Linares", "Wyoming", chart.colors.getIndex(3));
                chart.cursor = new am4charts.XYCursor();
                }); // end am4core.ready()
//#################################################Paris################################################################

//#################################################Johnson################################################################
                //var DataArray = '{{DataArray|json_encode|raw}}';
                am4core.ready(function() {
                    // Themes begin
                    am4core.useTheme(am4themes_animated);
                    // Themes end
                    // Create chart instance
                    var chart = am4core.create("chartdivJohnson", am4charts.XYChart);
                            
                    chart.data = dataJohnson;
            
                    // Create axes
                    var yAxis = chart.yAxes.push(new am4charts.CategoryAxis());
                    yAxis.dataFields.category = "tienda";
                    yAxis.renderer.grid.template.location = 0;
                    yAxis.renderer.labels.template.fontSize = 10;
                    yAxis.renderer.minGridDistance = 10;
                    var xAxis = chart.xAxes.push(new am4charts.ValueAxis());
                    // Create series
                    var series = chart.series.push(new am4charts.ColumnSeries());
                    series.dataFields.valueX = "venta";
                    series.dataFields.categoryY = "tienda";
                    series.dataFields.X = "cadena";
                    series.dataFields.Y = "CAMBIARPORDATOS"; /// <<<<<------ CAMBIARPORDATOS
                    // \n <<<--- es el <br> del tooltipText
                    //series.columns.template.tooltipText = "{cadena} {CAMBIARPORDATOS}\n{categoryY}: [bold]{valueX}[/]";
                    series.columns.template.tooltipHTML = `<center><strong>Cadena: {cadena}</strong></center>
                                                    <hr />
                                                    <table>
                                                    <tr>
                                                        <th align="left">Tienda: </th>
                                                        <td>{categoryY}</td>
                                                    </tr>
                                                    <tr>
                                                        <th align="left">Venta: </th>
                                                        <td>{valueX}</td>
                                                    </tr>
                                                    <tr>
                                                        <th align="left">Meta: </th>
                                                        <td>{CAMBIARPORDATOS}</td>
                                                    </tr>
                                                    </table>
                                                    <hr />`;
                                                    //// si le das click a la barra ejecuta los datos en el alert
                                                    series.columns.template.events.on("hit",
                                                        ev => {
                                                          let a = ev.target;
                                                          ///// dato 1
                                                          var cadena = ev.target._dataItem.dataContext["cadena"];
                                                          ///// dato 2
                                                          var tienda = ev.target._dataItem.dataContext["tienda"];
                                                           ///// dato 2
                                                           var venta = ev.target._dataItem.dataContext["venta"];
                                                          ///// mostrando datos
                                                          ///alert(item + "" + item1 );
                                                          /// llamar la funcion 
                                                          datosBar(cadena, tienda, venta);
                                                         
                                                          console.log("clicked on");
                                                        },
                                                        this
                                                      );                      
                    series.columns.template.strokeWidth = 1;
                    series.columns.template.adapter.add("fill", function(fill, target) {
                      if (target.dataItem) {
                        switch(target.dataItem.dataContext.cadena) {
                          case "Paris":
                            return chart.colors.getIndex(2);
                            break;
                        }
                      }
                      return fill;
                    });
                    
                    // Add ranges
                    function addRange(label, start, end, color) {
                      var range = yAxis.axisRanges.create();
                      range.category = start;
                      range.endCategory = end;
                      range.label.text = label;
                      range.label.disabled = false;
                      range.label.fill = color;
                      range.label.location = 0;
                      range.label.dx = -160;
                      range.label.dy = 6;
                      range.label.fontWeight = "bold";
                      range.label.fontSize = 12;
                      range.label.horizontalCenter = "left"
                      range.label.inside = true;
                      
                      range.grid.stroke = am4core.color("#396478");
                      range.grid.strokeOpacity = 1;
                      range.tick.length = 200;
                      range.tick.disabled = false;
                      range.tick.strokeOpacity = 0.6;
                      range.tick.stroke = am4core.color("#396478");
                      range.tick.location = 0;
                      
                      range.locations.category = 1;
                    }
                    //addRange("Global", "Texas", "North Dakota", chart.colors.getIndex(0));
                    //addRange("Ripley", "Quilpue", "West Virginia", chart.colors.getIndex(1));
                    //addRange("Paris", "Paris Lyon", "South Carolina", chart.colors.getIndex(2));
                    addRange("Johnson", "Johnson Linares", "Wyoming", chart.colors.getIndex(3));
                    chart.cursor = new am4charts.XYCursor();
                    }); // end am4core.ready()
//#################################################Johnson################################################################


                function datosBar(cadena, tienda, venta) {
                    $("#accordion-modal").modal({
                        fadeDuration: 100
                    });
                    $('#cadena').text(cadena);
                    $('#tienda').text(tienda);
                    $('#venta').text(venta);
                }
                </script>       

            <div class="row">
            <!-- /.modal -->
            <div id="accordion-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content p-0">
                        <div class="accordion" id="accordion-test">
                            <div class="card mb-0">
                                <div class="card-heading bg-light">
                                    <h4 class="card-title">
                                        <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                            <span id="cadena"></span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="collapse" data-parent="#accordion-test">
                                    <div class="card-body">
                                        <p class="mb-0">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh, craft beer labore sapiente ea proident. Ad vegan excepteur butcher vice lomo leggings occaecat.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card mt-1 mb-0">
                                <div class="card-heading bg-light">
                                    <h4 class="card-title">
                                        <a href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                            <span id="tienda"></span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="collapse show" data-parent="#accordion-test">
                                    <div class="card-body">
                                        <p class="mb-0">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh, craft beer labore sapiente ea proident. Ad vegan excepteur butcher vice lomo leggings occaecat.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card mt-1 mb-0">
                                <div class="card-heading bg-light">
                                    <h4 class="card-title">
                                        <a href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            <span id="venta"></span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="collapse" data-parent="#accordion-test">
                                    <div class="card-body">
                                        <p class="mb-0">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh, craft beer labore sapiente ea proident. Ad vegan excepteur butcher vice lomo leggings occaecat.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->






                <div class="col-lg-12">
                    <div class="card-box">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
                                    <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                                    <span class="d-none d-sm-block">Ripley</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
                                    <span class="d-block d-sm-none"><i class="fas fa-user"></i></span>
                                    <span class="d-none d-sm-block">Paris</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="message-tab" data-toggle="tab" href="#message" role="tab" aria-controls="message" aria-selected="false">
                                    <span class="d-block d-sm-none"><i class="far fa-envelope"></i></span>
                                    <span class="d-none d-sm-block">Johnson</span>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div id="chartdivRipley"></div>
                            </div>
                            <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <div id="chartdivParis"></div>
                            </div>
                            <div class="tab-pane" id="message" role="tabpanel" aria-labelledby="message-tab">
                                <div id="chartdivJohnson"></div>
                            </div>
                        </div>

                    </div>
                </div> <!-- end col -->
            </div> <!-- end col -->
   
        <!-- HTML -->
                <div class="row"> 
                    <div class="col-lg-4">
                        <div class="card-box">
                            <h4 class="header-title m-t-0 m-b-30">Messages</h4>
                            <div class="inbox-widget slimscroll-alt" style="min-height: 372px;">
                                <a href="#">
                                    <div class="inbox-item">
                                        <div class="inbox-item-img"><img src="assets/images/users/avatar-1.jpg" class="rounded-circle" alt=""></div>
                                        <p class="inbox-item-author">Chadengle</p>
                                        <p class="inbox-item-text">Hey! there I'm available...</p>
                                        <p class="inbox-item-date">13:40 PM</p>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="inbox-item">
                                        <div class="inbox-item-img"><img src="assets/images/users/avatar-2.jpg" class="rounded-circle" alt=""></div>
                                        <p class="inbox-item-author">Tomaslau</p>
                                        <p class="inbox-item-text">I've finished it! See you so...</p>
                                        <p class="inbox-item-date">13:34 PM</p>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="inbox-item">
                                        <div class="inbox-item-img"><img src="assets/images/users/avatar-3.jpg" class="rounded-circle" alt=""></div>
                                        <p class="inbox-item-author">Stillnotdavid</p>
                                        <p class="inbox-item-text">This theme is awesome!</p>
                                        <p class="inbox-item-date">13:17 PM</p>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="inbox-item">
                                        <div class="inbox-item-img"><img src="assets/images/users/avatar-4.jpg" class="rounded-circle" alt=""></div>
                                        <p class="inbox-item-author">Kurafire</p>
                                        <p class="inbox-item-text">Nice to meet you</p>
                                        <p class="inbox-item-date">12:20 PM</p>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="inbox-item">
                                        <div class="inbox-item-img"><img src="assets/images/users/avatar-5.jpg" class="rounded-circle" alt=""></div>
                                        <p class="inbox-item-author">Shahedk</p>
                                        <p class="inbox-item-text">Hey! there I'm available...</p>
                                        <p class="inbox-item-date">10:15 AM</p>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="inbox-item">
                                        <div class="inbox-item-img"><img src="assets/images/users/avatar-6.jpg" class="rounded-circle" alt=""></div>
                                        <p class="inbox-item-author">Adhamdannaway</p>
                                        <p class="inbox-item-text">This theme is awesome!</p>
                                        <p class="inbox-item-date">9:56 AM</p>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="inbox-item">
                                        <div class="inbox-item-img"><img src="assets/images/users/avatar-8.jpg" class="rounded-circle" alt=""></div>
                                        <p class="inbox-item-author">Arashasghari</p>
                                        <p class="inbox-item-text">Hey! there I'm available...</p>
                                        <p class="inbox-item-date">10:15 AM</p>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="inbox-item">
                                        <div class="inbox-item-img"><img src="assets/images/users/avatar-9.jpg" class="rounded-circle" alt=""></div>
                                        <p class="inbox-item-author">Joshaustin</p>
                                        <p class="inbox-item-text">I've finished it! See you so...</p>
                                        <p class="inbox-item-date">9:56 AM</p>
                                    </div>
                                </a>
                            </div>

                        </div> <!-- end card -->
                    </div>
                    <!-- end col -->
                    
                    <div class="col-lg-8">
                        <div class="card-box">
                            <h4 class="header-title m-t-0 m-b-30">Recent Users</h4>

                            <div class="table-responsive">
                                <table class="table table table-hover m-0">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Nombre</th>
                                            <th>Teléfono</th>
                                            <th>Dirección</th>
                                            <th>Correo</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for trabajador in trabajadors %}
                                            <tr>
                                                <td>
                                                    {% if trabajador.foto is empty %} 
                                                        <img src="assets/images/users/avatar-2.jpg" alt="user" class="thumb-sm rounded-circle" />
                                                    {% else %}
                                                        <img src="uploads/image/{{ trabajador.foto.image }}" alt="user" class="thumb-sm rounded-circle" />
                                                    {% endif %}
                                                </td>
                                                <td>{{ trabajador.name }}</td>
                                                <td>{{ trabajador.phone }}</td>
                                                <td>{{ trabajador.address }}</td>
                                                <td>
                                                    {% if trabajador.tipoTrabajador == 1 %} 
                                                        Supervisor
                                                    {% elseif trabajador.tipoTrabajador == 2 %}
                                                        Vendedor
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td colspan="9">No hay registros</td>
                                            </tr>
                                        {% endfor %}    
                                    </tbody>
                                </table>


                            </div> <!-- table-responsive -->
                        </div> <!-- end card -->
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->   
            </div> <!-- container -->
        </div> <!-- container -->     
    </div> <!-- content -->
</div>
</div>
                
                <!-- ============================================================== -->
                <!-- End Right content here -->
                <!-- ============================================================== -->
    
            
{% endblock %}
{% block javascripts %}
{{ parent() }}
    <script>
        var resizefunc = [];
    </script>       

    <!-- jQuery  -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/detect.js"></script>
    <script src="assets/js/fastclick.js"></script>
    <script src="assets/js/jquery.blockUI.js"></script>
    <script src="assets/js/waves.js"></script>
    <script src="assets/js/jquery.slimscroll.js"></script>
    <script src="assets/js/jquery.scrollTo.min.js"></script>
    <script src="../plugins/switchery/switchery.min.js"></script>

    <!-- Counter js  -->
    <script src="../plugins/waypoints/jquery.waypoints.min.js"></script>
    <script src="../plugins/counterup/jquery.counterup.min.js"></script>

    <!-- Flot chart js -->
    <script src="../plugins/flot-chart/jquery.flot.min.js"></script>
    <script src="../plugins/flot-chart/jquery.flot.time.js"></script>
    <script src="../plugins/flot-chart/jquery.flot.tooltip.min.js"></script>
    <script src="../plugins/flot-chart/jquery.flot.resize.js"></script>
    <script src="../plugins/flot-chart/jquery.flot.pie.js"></script>
    <script src="../plugins/flot-chart/jquery.flot.selection.js"></script>
    <script src="../plugins/flot-chart/jquery.flot.crosshair.js"></script>

    <script src="../plugins/moment/moment.js"></script>
    <script src="../plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
        
    <!-- Dashboard init -->
    <script src="assets/pages/jquery.dashboard_2.js"></script>

    <!-- App js -->
    <script src="assets/js/jquery.core.js"></script>
    <script src="assets/js/jquery.app.js"></script>   

    <script>
        $(function () {
            // sortable
            $(".sortable").sortable({
                connectWith: '.sortable',
                items: '.card-draggable',
                revert: true,
                placeholder: 'card-draggable-placeholder',
                forcePlaceholderSize: true,
                opacity: 0.77,
                cursor: 'move'
            });
        });
       </script>

    <script>
        $('#reportrange span').html(moment().subtract(29, 'days').format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
        $('#reportrange').daterangepicker({
            format: 'MM/DD/YYYY',
            startDate: moment().subtract(29, 'days'),
            endDate: moment(),
            minDate: '01/01/2012',
            maxDate: '12/31/2016',
            dateLimit: {
                days: 60
            },
            showDropdowns: true,
            showWeekNumbers: true,
            timePicker: false,
            timePickerIncrement: 1,
            timePicker12Hour: true,
            ranges: {
                'Today': [moment(), moment()],
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            },
            opens: 'left',
            drops: 'down',
            buttonClasses: ['btn', 'btn-sm'],
            applyClass: 'btn-success',
            cancelClass: 'btn-default',
            separator: ' to ',
            locale: {
                applyLabel: 'Submit',
                cancelLabel: 'Cancel',
                fromLabel: 'From',
                toLabel: 'To',
                customRangeLabel: 'Custom',
                daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                firstDay: 1
            }
        }, function (start, end, label) {
            console.log(start.toISOString(), end.toISOString(), label);
            $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        });
    </script>
{% endblock %}

